*,body,ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* スライドの外枠 */
.slide--wrapper {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;/* はみ出したスライドを隠す */
}

/* スライド（コンテンツ） */
.slide--body {
  width: 300%;
  height: 100%;
  display: flex;
  transition: all 0.3s;
}
.slide--item {
  width: calc(100% / 3);
  height: 100%;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* スライド本体に対して JS で付与される .slide1~3 に応じて、スライド本体を移動させることでスライドを実現 */
.slide--body.slide1 {
  transform: translateX(0);
}
.slide--body.slide2 {
  transform: translateX( calc(-100% * 1/3) );
}
.slide--body.slide3 {
  transform: translateX( calc(-100% * 2/3) );
}

/* 分かりやすいように各スライドアイテムに対して背景色を指定 */
.slide--item:nth-of-type(1) {
  background-color: #E1F3FC;
}
.slide--item:nth-of-type(2) {
  background-color: #FCE8F0;
}
.slide--item:nth-of-type(3) {
  background-color: #E3F1E4;
}

/* 左右のボタン */
.slide--next-btn {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(45deg) translateY(50%);
  transform: rotate(45deg) translateY(50%);
}
.slide--prev-btn {
  position:absolute;
  width: 15px;
  height: 15px;
  left: 25px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}

/* インジケーター */
.slide--indicator-list {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  column-gap: 18px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.slide--indicator-item {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  list-style: none;
  background-color: #fff;
  border: solid 2px #000;
  cursor: pointer;
}
.slide--indicator-item:first-of-type {
  background-color: #000;
}